@import "reset";

$heading_color: #19ff19;
$main_font: Arial, Helvetica, sans-serif;

/* variables */
h1 {
    color: $heading_color;
    font-family: $main-font;
}

/* mixin */
@mixin warning {
    color: orange;
    background-color: tan;
}

.danger {
    @include warning;
    font-family:Arial, Helvetica, sans-serif;
}

/* extend */
.jumbotron {
    width: 100%;
    background-color: lightblue;
    border: 2px solid navy;
}

.bigheading_about {
    @extend .jumbotron;
    color: #333333;
}

