@import "partials/variables";
@import "partials/mixins";
@import "partials/extends";
@import "partials/reset";


//GENERAL STYLES
h2 {
    font-size: 20px;
    color: $main_text;
    margin: 10px;
}
body{font-family: sans-serif;}





//NAV DESIGN
nav {
    background-color: $button_background; 
    color: $nav_font;
    padding-top: 20px;
    padding-bottom: 20px;
    a {color: $nav_font;}
}
h1 {padding-bottom: 15px; font-size: 30px;}



//LATEST & OLDER RECIPES DESIGN
#image_container {
    @extend .container-basic;
    img {
        max-width: 100%; 
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;;
    }
}
.latest, .older {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.older{padding-bottom: 20px;}
@media only screen and (max-width: 600px){
    #image_container {
        max-width: 400px;
        p {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
@media only screen and (min-width: 601px) {
    #image_container {
        width: 18%;
        margin-left: 1%;
        p {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}




//NEWSLETTER DESIGN
.newsletter {
    @include shadow;
    background-color: $form_background;
    padding-top: 35px;
    padding-bottom: 25px;
    border-radius: 5px;
    margin: 25px 0px;
    img {padding-bottom: 15px;}
}
form {padding-top: 10px;}
input {
    border: 1px solid $button_background;
    width: 175px;
    font-size: 10px;
    height: 15px;
}
button {@include button_style;}
.button {@include button_style;}


//ABOUT US DESIGN
.about_image {
    border-radius: 5px;
}
.about button {
    padding: 5px; margin: 20px;
}
.about {
    text-align: center;
    padding: 20px;
    h2 {margin-bottom: 20px;}
}



//FOOTER
footer {
    background-color: $footer_background;
    text-align: center;
    color: $nav_font;
    padding-top: 20px;
    padding-bottom: 25px;
}
footer a{
    color: $nav_font;
    text-decoration: none;
}
footer p {padding-bottom: 15px;}




